.connect-mode {
  background-color: rgb(17, 17, 17) !important;  /* Darker background */
}

/* Make sure the background change is smooth */
.react-flow {
  transition: background-color 0.3s ease;
}

.connect-mode .react-flow__node {
  opacity: 0.4;
  transition: opacity 0.3s;
}

.connect-mode .react-flow__edge {
  opacity: 0.4;
  transition: opacity 0.3s;
}

/* Source node and selected node stay visible */
.connect-mode .react-flow__node.source-node,
.connect-mode .react-flow__node.selected-node {
  opacity: 1;
}

/* Preview edge stays visible */
.connect-mode .react-flow__edge.preview-edge {
  opacity: 1;
}

/* Stroke Edge Animation */
.react-flow__edge-path.stroke-edge-animated {
  stroke-width: 2 !important;
  stroke: #FF69A3 !important;
  stroke-dasharray: 5 !important;
  pointer-events: none;
  animation: flowAnimation 30s linear infinite;
}

@keyframes flowAnimation {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1000;
  }
} 