.strokeEdge {
  stroke-width: 2;
  stroke: #FF69A3;
  stroke-dasharray: 5;
  pointer-events: none;
  animation: flowAnimation 30s linear infinite;
}

@keyframes flowAnimation {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1000;
  }
} 